.ng-select {
    border: 1px solid #ced4da; /* match other inputs */
    border-radius: 0.25rem;
    color: #6c757d; /* grey text */
  }
  .custom-ng-select .ng-placeholder {
    color: #6c757d; /* grey */
  }
  
  .custom-ng-select .ng-value {
    color: #212529; /* selected item color */
  }
  
  