<div class="container p-4 mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Patient Details</h4>
  </div>

  <!-- Appointment Summary -->
  <div class="alert alert-info text-center fw-semibold mb-4">
    Booking Appointment with
    <span class="text-primary">Dr. {{ appointment.DoctorName }}</span> on
    <span class="text-success">{{ appointment.PreferredDate | date: 'fullDate' }}</span> at
    <span class="text-success">{{ appointment.StartTime }} - {{ appointment.EndTime }}</span>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <form #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm)">

        <!-- Section 1: Contact Info -->
        <div class="p-3 mb-4 border rounded bg-light">
          <h6 class="mb-3 text-dark">Patient Identification</h6>

          <div class="alert alert-info">
            If you have visited before, just enter your aadhar number and your details will be prefilled.
            You can modify any information if needed.
          </div>

          <div class="row g-4">
            <!-- Contact Number -->
            <div class="col-lg-6">
              <label class="form-label fw-semibold">Aadhaar Number<span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="Aadhaar Number" name="AadhaarNumber"
                [(ngModel)]="appointment.AadhaarNumber" #AadhaarNumber="ngModel" (blur)="loadPatientDetails()" required
                minlength="12" maxlength="12" pattern="^[0-9]{12}$" [disabled]="isExistingPatient"
                [class.is-invalid]="AadhaarNumber.invalid && (AadhaarNumber.touched || patientForm.submitted)">

              <div class="invalid-feedback" *ngIf="AadhaarNumber.errors?.['required']"> Aadhaar Number is required.
              </div>
              <div class="invalid-feedback" *ngIf="AadhaarNumber.errors?.['minlength']"> Aadhaar Number must be 12
                digits. </div>
              <div class="invalid-feedback" *ngIf="AadhaarNumber.errors?.['maxlength']"> Aadhaar Number must be 12
                digits. </div>
              <div class="invalid-feedback" *ngIf="AadhaarNumber.errors?.['pattern']"> Only numbers are allowed (0-9).
              </div>
            </div>


          </div>
        </div>

        <!-- Section 2: Personal Information -->
        <div class="p-3 mb-4 border rounded bg-light">
          <h6 class="mb-3 text-dark">Personal Information</h6>
          <div class="row g-4">
            <div class="col-lg-6">
              <label class="form-label fw-semibold">First Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="First Name" name="FirstName"
                [(ngModel)]="appointment.FirstName" #FirstName="ngModel" required pattern="^[A-Za-z\s]+$" maxlength="50"
                [class.is-invalid]="FirstName.invalid && (FirstName.touched || patientForm.submitted)">
              <div class="invalid-feedback">First Name is required</div>
              <div class="invalid-feedback" *ngIf="FirstName.errors?.['pattern']">Only alphabets are allowed.</div>

            </div>
            <div class="col-lg-6">
              <label class="form-label fw-semibold">Last Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="Last Name" name="LastName"
                [(ngModel)]="appointment.LastName" #LastName="ngModel" required pattern="^[A-Za-z\s]+$" maxlength="50"
                [class.is-invalid]="LastName.invalid && (LastName.touched || patientForm.submitted)">
              <div class="invalid-feedback">Last Name is required</div>
              <div class="invalid-feedback" *ngIf="LastName.errors?.['pattern']">Only alphabets are allowed.</div>
            </div>
            <div class="col-lg-6">
              <label class="form-label fw-semibold">Date Of Birth<span class="text-danger">*</span></label>
              <input type="date" class="form-control" name="DateOfBirth" [(ngModel)]="appointment.DateOfBirth"
                #DateOfBirth="ngModel" required [max]="today"
                [class.is-invalid]="DateOfBirth.invalid && (DateOfBirth.touched || patientForm.submitted)">
              <div class="invalid-feedback">Date of Birth is required</div>
            </div>
            <div class="col-lg-6">
              <label class="form-label fw-semibold">Gender<span class="text-danger">*</span></label>
              <select class="form-control" name="Gender" [(ngModel)]="appointment.Gender" #Gender="ngModel" required
                [class.is-invalid]="Gender.invalid && (Gender.touched || patientForm.submitted)">
                <option value="">Select Gender</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
              <div class="invalid-feedback">Gender is required</div>
            </div>

            <div class="col-lg-6">
              <label class="form-label fw-semibold">Contact Number<span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="Contact Number" name="ContactNumber"
                [(ngModel)]="appointment.ContactNumber" #ContactNumber="ngModel" required minlength="10" maxlength="15"
                pattern="^[0-9]+$"
                [class.is-invalid]="ContactNumber.invalid && (ContactNumber.touched || patientForm.submitted)">
              <div class="invalid-feedback" *ngIf="ContactNumber.errors?.['required']">Contact Number is required</div>
              <div class="invalid-feedback" *ngIf="ContactNumber.errors?.['minlength']">Contact Number is too short
              </div>
              <div class="invalid-feedback" *ngIf="ContactNumber.errors?.['maxlength']">Contact Number is too long</div>
              <div class="invalid-feedback" *ngIf="ContactNumber.errors?.['pattern']"> Only digits are allowed. </div>
            </div>

            <div class="col-lg-6">
              <label class="form-label fw-semibold">Email<span class="text-danger">*</span></label>
              <input type="email" class="form-control" placeholder="Email" name="Email"
                [(ngModel)]="appointment.PatientEmail" required #PatientEmail="ngModel" maxlength="100"
                [class.is-invalid]="PatientEmail.invalid && (PatientEmail.touched || patientForm.submitted)">
              <div class="invalid-feedback">Valid Email is required</div>
              <div class="invalid-feedback" *ngIf="PatientEmail.errors?.['email']">Enter a valid email</div>
            </div>


            <div class="col-lg-6">
              <label class="form-label fw-semibold">Insurance Id</label>
              <input type="text" class="form-control" placeholder="Insurance ID" name="InsuranceId" maxlength="100"
                [(ngModel)]="appointment.InsuranceInfo" #InsuranceId="ngModel"
                [class.is-invalid]="InsuranceId.invalid && (InsuranceId.touched || patientForm.submitted)">
            </div>
          </div>
        </div>

                <!-- Section 4: Address Information -->
        <div class="p-3 mb-4 border rounded bg-light">
          <h6 class="mb-3 text-dark">Address Information</h6>
          <div class="row g-4">

            <div class="col-lg-3">
              <label class="form-label fw-semibold">State<span class="text-danger">*</span></label>
              <ng-select [items]="statesList" bindLabel="StateName" bindValue="StateId" placeholder="Select State"
                [(ngModel)]="appointment.StateId" name="StateId" placeholder="Select State" required #StateId="ngModel"
                [class.is-invalid]="StateId.invalid && (StateId.touched || patientForm.submitted)"
                (change)="onStateChange()">
              </ng-select>
              <div class="invalid-feedback">State is required</div>
            </div>


            <div class="col-lg-3">
              <label class="form-label fw-semibold">District<span class="text-danger">*</span></label>
              <ng-select [items]="districtsList" bindLabel="DistrictName" bindValue="DistrictId"
                placeholder="Select District" [(ngModel)]="appointment.DistrictId" name="DistrictId"
                placeholder="Select District" required #DistrictId="ngModel"
                [class.is-invalid]="DistrictId.invalid && (DistrictId.touched || patientForm.submitted)"
                (change)="onDistrictChange()">
              </ng-select>
              <div class="invalid-feedback">District is required</div>
            </div>


            <div class="col-lg-3">
              <label class="form-label fw-semibold">Taluka<span class="text-danger">*</span></label>
              <ng-select [items]="talukasList" bindLabel="TalukaName" bindValue="TalukaId" placeholder="Select Taluka"
                [(ngModel)]="appointment.TalukaId" name="TalukaId" placeholder="Select Taluka" required
                #TalukaId="ngModel" [class.is-invalid]="TalukaId.invalid && (TalukaId.touched || patientForm.submitted)"
                (change)="onTalukaChange()">
              </ng-select>
              <div class="invalid-feedback">Taluka is required</div>
            </div>


            <div class="col-lg-3">
              <label class="form-label fw-semibold">City<span class="text-danger">*</span></label>
              <ng-select [items]="citiesList" bindLabel="CityName" bindValue="CityId" placeholder="Select City"
                [(ngModel)]="appointment.CityId" name="CityId" placeholder="Select City" required #CityId="ngModel"
                [class.is-invalid]="CityId.invalid && (CityId.touched || patientForm.submitted)">
              </ng-select>
              <div class="invalid-feedback">City is required</div>
            </div>


            <div class="col-lg-8">
              <label class="form-label fw-semibold">Address<span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="Address Line" name="Address"
                [(ngModel)]="appointment.AddressLine" required #AddressLine="ngModel" maxlength="200"
                [class.is-invalid]="AddressLine.invalid && (AddressLine.touched || patientForm.submitted)">
              <div class="invalid-feedback" *ngIf="AddressLine.errors?.['required']">
                Address is required
              </div>
            </div>

            <div class="col-lg-4">
              <label class="form-label fw-semibold">Pincode<span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="Pincode" name="Pincode"
                [(ngModel)]="appointment.Pincode" #Pincode="ngModel" required pattern="^[0-9]{6}$"
                [class.is-invalid]="Pincode.invalid && (Pincode.touched || patientForm.submitted)">
              <div class="invalid-feedback">Pincode is required</div>
              <div class="invalid-feedback" *ngIf="Pincode.errors?.['pattern']">
                Enter a valid 6-digit pincode
              </div>
            </div>
          </div>

        </div>
        <!-- Section 3: Medical Information -->
        <div class="p-3 mb-4 border rounded bg-light">
          <h6 class="mb-3 text-dark">Medical Information</h6>
          <div class="row g-4">
            <div class="col-lg-12">
              <label class="form-label fw-semibold">Medical History</label>
              <textarea class="form-control" placeholder="Medical History" name="MedicalHistory" maxlength="300"
                [(ngModel)]="appointment.MedicalHistory"></textarea>
            </div>
            <div class="col-lg-12">
              <label class="form-label fw-semibold">Medical Concern<span class="text-danger">*</span></label>
              <textarea class="form-control" placeholder="Medical Concern" name="MedicalConcern"
                [(ngModel)]="appointment.MedicalConcern" required #MedicalConcern="ngModel" maxlength="300"
                [class.is-invalid]="MedicalConcern.invalid && (MedicalConcern.touched || patientForm.submitted)"></textarea>
              <div class="invalid-feedback">Medical Concern is required</div>
            </div>
          </div>
        </div>



        <!-- Section: Optional Medical Document -->
        <div class="p-3 mb-4 border rounded bg-light">
          <h6 class="mb-3 text-dark fw-semibold">
            Medical Document <span class="text-muted">(Optional)</span>
          </h6>
          <div class="row g-4">
            <div class="col-lg-12">
              <input type="file" class="form-control" (change)="onFileSelected($event)"
                accept=".pdf,.doc,.docx,.jpg,.png">
              <small class="text-muted">Allowed formats: PDF, DOC, DOCX, JPG, PNG | Max size: {{ maxFileSizeMB
                }}MB</small>
            </div>
          </div>
        </div>

        <div class="mt-4 text-end">
          <button type="button" class="btn btn-secondary me-2" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>
<!-- Unsaved Changes Modal -->
<ng-template #unsavedChangesModal let-modal>
  <div class="modal-header bg-primary text-white">
    <h5 class="modal-title">
      <i class="bi bi-exclamation-triangle me-2"></i> Unsaved Changes
    </h5>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="stayHere()"></button>
  </div>

  <div class="modal-body text-center">
    <p class="fs-5 text-secondary">
      You have unsaved changes. Are you sure you want to leave this page?
    </p>
  </div>

  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-primary px-4" (click)="stayHere()">
      Stay
    </button>
    <button type="button" class="btn btn-primary px-4" (click)="confirmDiscard()">
      Discard Changes
    </button>
  </div>
</ng-template>