<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h4>Manage Doctors</h4>
  </div>

  <div class="filter-block p-3 mb-4 rounded border bg-white shadow-sm">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h5>Doctor List</h5>
      <button class="btn btn-primary" (click)="openAddEditDoctor()"> <i class="ri-add-circle-line"></i>Add Doctor</button>
    </div>
    <div class="row mb-3 g-2 align-items-end">
      <!-- Search Text -->
      <div class="col-md-6">
        <label class="form-label fw-semibold">Doctor Name</label>
        <input type="text" class="form-control" placeholder="Search by doctor name"
          [(ngModel)]="filters.SearchedDoctorName" (ngModelChange)="onFilterChange()">
      </div>

      <!-- Specialization Dropdown -->
      <div class="col-md-4 mb-2 mb-md-0">
        <label class="form-label fw-semibold">Specialization</label>
        <ng-select [items]="specializationsList" bindLabel="SpecializationName" bindValue="SpecializationId"
          placeholder="Select Specialization" [(ngModel)]="filters.SelectedSpecializationId" [clearable]="true"
          (change)="onFilterChange()">
        </ng-select>
      </div>



      <!-- Optional: Clear Button -->
      <div class="col-md-2">
        <button class="btn btn-secondary w-100" (click)="ClearFilters()">Clear</button>

      </div>
    </div>


    <div class="table-responsive">
      <table class="table table-striped table-bordered align-middle no-wrap-table"
        *ngIf="filteredDoctors && filteredDoctors.length > 0; else noResults">
        <thead class="table-light">
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th class="text-end">Experience (Years)</th>
            <th class="text-end">Consultation Fees (₹)</th>
            <th>Hospital</th>
            <th>Hospital Address</th>
            <th class="text-end">Rating</th>
            <th style="width:150px;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of filteredDoctors" style="cursor: pointer;">
            <td>Dr. {{ doc.FirstName }} {{ doc.LastName }}</td>
            <td>{{ doc.Gender }}</td>
            <td class="text-end">{{ doc.ExperienceYears }} yrs</td>
            <td class="text-end">₹{{ doc.ConsultationFees }}</td>

            <td>{{ doc.HospitalName }}</td>

            <td>
              <span class="address-tooltip" [title]="doc.Address">
                {{ doc.Address | slice:0:25 }}<span *ngIf="doc.Address.length > 25">...</span>
              </span>
            </td>

            <td class="text-end">{{ doc.Rating }}</td>
            <td>
              <i class="ri-edit-2-line action-icon me-3" (click)="openAddEditDoctor(doc.DoctorId)" title="Edit"></i>
              <i class="ri-delete-bin-line action-icon delete-icon me-3" title="Delete"></i>
              <i class="ri-calendar-line action-icon text-primary" (click)="openDoctorAvailability(doc.DoctorId)"
                title="Availability"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <ng-template #noResults>
      <div class="text-center py-5 text-muted">
        <i class="ri-emotion-sad-line fs-2 d-block mb-2"></i>
        <h6>No results found</h6>
        <p class="mb-0">Try adjusting your filters or search criteria.</p>
      </div>
    </ng-template>

    <!-- Pagination -->
    <div class="d-flex justify-content-end mt-3">
      <ngb-pagination *ngIf="!loading && TotalRecords > 0"
        class="d-flex justify-content-center shadow-sm p-2 bg-white rounded" [collectionSize]="TotalRecords"
        [(page)]="filters.PageNumber" [pageSize]="filters.PageSize" [maxSize]="3" [boundaryLinks]="true"
        (pageChange)="loadDoctors()">
      </ngb-pagination>
    </div>
  </div>
</div>